@charset "utf-8";

/* body noScroll */
body.noScroll {overflow: hidden; height: 100%;}

/* container */
.container {position: relative; width: 1280px; margin: 0 auto;}

/* row */
.row {padding: 0 28px;}

/* layout */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 64px; z-index: 10000; background-color: #000;}
#footer {background: #000; padding: 70px 0;}

/* loading */
#loading {position: fixed; left: 0; top: 0; width: 100%; height: 100vh; background: #000; z-index: 99999;}
.loading {display: flex; align-items: center; position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 80px; height: 80px; animation: turn .9s ease-in-out infinite;}
.loading > div {width: 20px; height: 20px; background: #fff; border-radius: 50%;}
.loading > div:last-child {margin-left: 40px; display: none;}
.loading.b {animation: turn .9s .1s ease-in-out infinite;}
.loading.b > div {width: 15px; height: 15px;}
.loading.c {animation: turn .9s .2s ease-in-out infinite;}
.loading.c > div {width: 10px; height: 10px;}
@keyframes turn {
    0% {transform: rotate(0); opacity: 0;}
    50% {opacity: .8;}
    100% {transform: rotate(365deg); opacity: 0;}
}

/* mNav */
.ham {display: none; position: absolute; right: 25px; top: 23px; width: 26px; height: 26px;}
.ham div {width: 100%; height: 100%;}
.ham span {display: block; background: #fff; width: 25px; height: 2px; border-radius: 3px; transition: 0.2s margin 0.2s, 0.2s transform;}
.ham span:nth-child(1) {margin-bottom: 6px;}
.ham span:nth-child(3) {margin-top: 6px;}
.ham.active span {transition: 0.2s margin, 0.2s transform 0.2s;}
.ham.active span:nth-child(1) {margin-top: 8px; margin-bottom: -2px; transform: rotate(45deg);}
.ham.active span:nth-child(2) {transform: rotate(45deg);}
.ham.active span:nth-child(3) {margin-top: -2px; transform: rotate(135deg);}

/* side-menu */
.side-menu {position: fixed; right: -100%; top: 64px; width: 100%; height: 100vh; background: #000; z-index: 1; overflow: scroll;
 -ms-overflow-style: none; /* IE and Edge */ overflow-x: hidden;}
.side-menu::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
.side-menu .menu {padding: 0 24px;}
.side-menu .menu.on {height: 145%;}
.side-menu li a {text-transform: uppercase; padding: 12px 0; display: block; font-size: 20px;}
.side-menu li.search {position: relative; border-bottom: 1px solid #fff; height: 40px; margin: 12px 0; font-size: 18px; padding-left: 35px; padding-bottom: 6px; line-height: 40px;}
.side-menu li.search a {padding: 0;}
.side-menu li.search span {position: absolute; left: 0; top: 9px; background-position: 0 -89px; width: 20px; height: 20px; display: block;}
.side-menu li.search input {background: #000; color: #8b8b8b; border: 0; font-size: 18px;}
.side-menu li.lg {display: inline-block; background: #fff; margin: 12px 12px 12px 0; border-radius: 50px;}
.side-menu li.lg a {font-size: 15px; color: #000; font-weight: 600; padding: 6px 16px 8px 16px;}
.side-menu li.article {position: relative;}
.side-menu li.article .btn {display: block; position: absolute; right: 10px; top: 14px; background-size: 95px; width: 15px; height: 24px; background-position: -80px 0; transform: rotate(90deg);}
.side-menu li.article .btn.on {transform: rotate(-90deg); top: 16px;}
.side-menu li.article .article-nav {display: none;}
.side-menu li.article .article-nav a {color: #8b8b8b; font-size: 15px;}
.side-menu .sns {border-top: 1px solid #fff; margin-top: 12px; padding-top: 12px;}
.side-menu .sns li {display: inline-block; margin-right: 12px; vertical-align: middle;}
.side-menu .sns li a {width: 38px; height: 38px; padding: 0;}
.side-menu .sns li.s1 {background-position: 0 -113px;}
.side-menu .sns li.s2 {background-position: -39px -113px;}
.side-menu .sns li.s3 {background-position: -78px -113px;}
.side-menu .sns li.s4 {background-position: -117px -113px;}

/* header */
.header h1 {float: left; padding: 22px 30px 0 0;}
.header h1 img {width: 100px;}
.header .nav_left {float: left;}
.header .nav_left li {position: relative; float: left; padding: 21px 17px;}
.header .nav_left li a {font-size: 15px; text-transform: uppercase; transition: all .3s ease;}
.header .nav_left li::before {content: ''; position: absolute; left: 0; top: 26px; width: 2px; height: 12px; background: rgba(255,255,255,.3);}
.header .nav_left li:hover a {color: #c6c6c6;}
.header .nav_right {float: right;}
.header .nav_right li {float: left; padding: 21px 17px;}
.header .nav_right li:last-child {padding-right: 20px;}
.header .nav_right li a {font-size: 15px; text-transform: uppercase; color: #C6C6C6;}
.header .nav_right .search {position: absolute; right: 28px; top: 22px;}
.header .nav_right .search span {background-position: 0 -89px; width: 20px; height: 20px; display: block;}

/* footer */
.footer_sns {position: absolute; right: 28px; top: -5px; z-index: 1;}
.footer_sns li {display: inline-block; margin-left: 10px; vertical-align: middle;}
.footer_sns li a {display: block; width: 38px; height: 38px;}
.footer_sns li.s1 {background-position: 0 -113px; margin-left: 0;}
.footer_sns li.s2 {background-position: -39px -113px;}
.footer_sns li.s3 {background-position: -78px -113px;}
.footer_sns li.s4 {background-position: -117px -113px;}
.footer_info {font-size: 14px;}
.footer_info li {position: relative; display: inline-block; margin-right: 20px;}
.footer_info li::before {content: ''; position: absolute; left: -12px; top: 6px; width: 1px; height: 12px; background: #8b8b8b;}
.footer_info li:first-child::before {display: none;}
.footer_info p {font-weight: 300; color: #c6c6c6; margin-top: 24px;}
.footer_info p em {display: block;}
.footer_info p span {margin-left: 12px;}
.footer_info p:last-child {font-weight: 400;}


/* 미디어 쿼리 */
@media (max-width: 1290px){
    .container {width: 100%;}  
}

@media (max-width: 1024px){
    
}

@media (max-width: 960px){
    .row {padding: 0 24px;}
    .ham {display: block;}
    .header .nav_left,
    .header .nav_right {display: none;}

    .footer_sns {top: -6px;}
    .footer_sns li {display: block; margin-left: 0; margin-bottom: 10px;}
}

@media (max-width: 768px){
    #footer {padding-top: 0; padding-bottom: 35px;}
    .footer_sns {position: static; text-align: center; background: #fff; padding: 8px 0;}
    .footer_sns li {display: inline-block; margin-left: 15px; margin-bottom: 0;}
    .footer_sns li.s1 {background-position: 0 -152px;}
    .footer_sns li.s2 {background-position: -39px -152px;}
    .footer_sns li.s3 {background-position: -78px -152px;}
    .footer_sns li.s4 {background-position: -117px -152px;}
    .footer_sns p {display: none;}
    .footer_info {margin-top: 35px; text-align: center; width: 100%;}
}

@media (max-width: 600px){
    .row {padding: 0 16px;}
    .ham {right: 18px;}
    .side-menu .menu {padding: 0 16px;}
    
    .footer_info {font-size: 12px;}
    .footer_info li {display: none;}
    .footer_info p span:last-child {display: block;}
}

@media (max-width: 480px){
    
}

@media (max-width: 320px){
    .side-menu .menu {height: 105%;}
    .side-menu .menu.on {height: 162%;}
}